.link {
  height: 100vh;
  background-color: var(--color-chat-sidebar);
  display: flex;
  align-items: center;

  &::after {
    content: url('src/assets/arrowBtn.svg');
    transform: rotate(180deg);
    padding: 0 18px;
  }
}
