.message {
  display: flex;
  gap: 6px;
  max-width: 60%;
  padding: 11px;
  font-size: 12px;
  line-height: 125%;
  margin-bottom: 10px;

  time {
    align-self: flex-end;
    display: block;
    font-size: 8px;
    line-height: 1;
  }

  &.incoming {
    align-self: flex-start;
    border-radius: 0 12px 12px;
    background-color: var(--color-chat-gray);

    time {
      color: var(--color-gray-text);
    }
  }

  &.outgoing {
    align-self: flex-end;
    border-radius: 12px 12px 0;
    background-color: var(--color-chat-sky);

    time {
      color: var(--color-primary);
    }
  }
}
