@use './reset.scss';
@use './font.scss';
@use './variables.scss';

body {
  background-color: var(--color-background);
  font-family: var(--font-family);
  color: var(--color-black);
  font-size: 13px;
  font-weight: 500;
  line-height: 1;
}

#app {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
