:root {
  // Fonts
  --font-family: 'Inter';

  // Colors
  --color-white: #fff;
  --color-black: #1e1e1e;
  --color-red: #f00;
  --color-gray: #999;
  --color-primary: #3369f3;
  --color-background: var(--color-white);
  --color-error: #ff2f2f;
  --color-gray-text: var(--color-gray);
  --color-shadow: rgba(0 0 0 / 14%);
  --color-avatar-background: rgba(0 0 0 / 50%);
  --color-chat-sidebar: #fbfbfb;
  --color-chat-border: #eaeaea;
  --color-chat-input: #efefef;
  --color-chat-gray: #f8f8f8;
  --color-chat-sky: #e4edfd;
}
