:root {
  // Fonts
  --font-family: 'Inter';

  // Colors
  --color-white: #ffffff;
  --color-black: #1e1e1e;
  --color-red: #ff0000;
  --color-primary: #3369f3;
  --color-background: var(--color-white);
  --color-error: #ff2f2f;
  --color-gray-text: #999;
  --color-auth-shadow: rgba(0, 0, 0, 0.14);
  --color-chat-sidebar: #fbfbfb;
  --color-chat-border: #eaeaea;
  --color-chat-search: #efefef;
  --color-chat-message-incoming: #f8f8f8;
  --color-chat-message-outgoing: #e4edfd;
}
