.profileInput {
  padding: 10px 0;
  border-bottom: 1px solid var(--color-chat-border);
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
  text-align: right;
  gap: 20px;

  input {
    color: var(--color-gray-text);
    text-align: right;

    &:disabled + label {
      cursor: default;
    }
  }

  &:last-child {
    border-bottom: none;
  }
}
