.form {
  display: flex;
  align-items: center;
  gap: 10px;
  padding-top: 10px;
  border-top: 1px solid var(--color-chat-border);

  .button {
    padding: 0;
    background-color: inherit;
  }

  .addAttachmentBtn::after {
    content: url('@/assets/paperclip.svg');
  }

  .sendMessageBtn::after {
    content: url('@/assets/arrowBtn.svg');
  }

  .meassageInput {
    position: relative;
    flex-grow: 1;
    padding: 10px 20px;
    border-radius: 20px;
    background-color: var(--color-chat-gray);
    font-size: 12px;
    line-height: 1;

    & > input {
      width: 100%;
    }

    & > p {
      position: absolute;
      right: 10px;
      bottom: 12px;
      color: var(--color-error);
    }
  }
}
